@page "/myPage"
@inject IJSRuntime JavascriptRuntime

<script src="https://[URL]/build/mosparo-frontend.js" defer></script>

<script>

var m;

function LoadCaptcha(uuid, publicKey) {
    m = new mosparo('mosparo-box', 'https://[URL]', uuid, publicKey, {
        onCheckForm: function (result) {
            if (!result) {
                return;
            }

            let submitToken = document.getElementById('submit-token');
            let validationToken = document.getElementById('validation-token');

            submitToken.value = m.submitTokenElement.value;
            validationToken.value = m.validationTokenElement.value;

            submitToken.dispatchEvent(new Event('change'));
            validationToken.dispatchEvent(new Event('change'));
        },
        loadCssResource: true,
    });
}

</script>

<EditForm
    OnValidSubmit="@this.OnSubmitButtonClick"
    id="some-form"
    Model="@this.ModelValues"
    FormName="SomeForm"
>
    <div>
        <label 
            for="Name"
        >
            Name
        </label>

        <InputText 
            id="Name"
            name="Name"
            @bind-Value="@this.ModelValues.Name"
            autocomplete="off"
            max="50"
            required
        />
    </div>

    <div>
        <label 
            for="EmailAdress"
        >
            Email-Adress
        </label>

        <InputText 
            id="EmailAdress"
            name="EmailAdress"
            @bind-Value="@this.ModelValues.EmailAdress"
            autocomplete="off"
            max="50"
            required
        />
    </div>

    <div>
        <label 
            for="Subject"
        >
            Subject
        </label>

        <InputText 
            id="Subject"
            name="Subject"
            @bind-Value="@this.ModelValues.Subject"
            autocomplete="off"
            max="50"
            required
        />
    </div>

    <div>
        <label 
            for="Message"
        >
            Message
        </label>

        <InputText 
            id="Message"
            name="Message"
            @bind-Value="@this.ModelValues.Message"
            autocomplete="off"
            max="300"
            required
        />
    </div>

    <div 
        style="margin:5px;"
        @ref="this.CaptchaBoxElement"
        id="mosparo-box"
    ></div>

    <input
        name="SubmitToken"
        type="hidden"
        autocomplete="off"
        class="mosparo__ignored-field"
        id="submit-token"
        @bind-value="@this.ModelValues.MosparoSubmitToken"
    >

    <input 
        name="ValidationToken"
        type="hidden"
        class="mosparo__ignored-field"
        autocomplete="off"
        id="validation-token"
        @bind-value="@this.ModelValues.MosparoValidationToken"
    >

    <button
        type="submit"
    >
        Absenden
    </button>

</EditForm>

@code{
    
    private Model ModelValues = new Model();

    private ElementReference? CaptchaBoxElement;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && this.CaptchaBoxElement.Context != null)
        {
            await JavascriptRuntime.InvokeVoidAsync("LoadCaptcha", "[UUID]", "[PUBLIC_KEY]");
        }
    }

    private void OnSubmitButtonClick()
    {
        // Create FormRequest object with the model values and call the API client to verify the submission
    }
}
